""" Settings
set expandtab
set smartindent
set so=10
set incsearch
set idearefactormode=keep
set ideajoin
set surround

""" Map leader to space
nnoremap <Space> <nop>
nnoremap <Esc> <nop>
let mapleader=" "

""" Make j and k behave properly for wrapped lines
nmap j gj
nmap k gk

""" Tab and Pane navigations
nmap <leader>h <action>(PreviousTab)
nmap <leader>l <action>(NextTab)
nmap <leader>k <action>(CloseEditor)
nmap <leader>p <C-W>w

""" Buffer Navigation
nmap <leader><space> <action>(Switcher)

""" Goto X/Find X
nmap <leader>sf <action>(GotoFile)
nmap <leader>sc <action>(GotoClass)
nmap <leader>sr <action>(RecentFiles)
nmap <leader>si <action>(SelectIn)
nmap <leader>gd <action>(GotoDeclaration)
nmap <leader>gi <action>(GotoImplementation)
nmap <leader>gs <action>(GotoSuperMethod)
nmap <leader>gt <action>(GotoTypeDeclaration)
nmap <leader>gu <action>(ShowUsages)

""" Find/Replace in File
nmap <leader>ff <action>(Find)
nmap <leader>fr <action>(Replace)

""" Error Checking
nmap <leader>d <action>(ShowErrorDescription)
nmap <leader>e <action>(GotoNextError)
nmap <leader>E <action>(GotoPreviousError)

""" Refactoring
nmap <leader>r <action>(RenameElement)
nmap <leader>F <action>(ReformatCode)
nmap <leader>R <action>(ChangeSignature)
vmap <leader>F <action>(ReformatCode)

""" System clipboard copying and pasting
nmap <leader>P "+p
nmap <leader>y "+yy
vmap <leader>P "+p
vmap <leader>y "+y

""" File structure info popup for Class/Object/etc..
nmap <leader>o <action>(FileStructurePopup)

""" IDE Tool Integrations
nmap <leader>th <action>(HideAllWindows)
nmap <leader>tg <action>(Gradle.ExecuteTask)
nmap <leader>tr <action>(Run)
nmap <leader>td <action>(Debug)
nmap <leader>b <action>(ToggleLineBreakpoint)
